.home{
    background-image: url('/assets/Imagens/Section-Desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.home-container{
    max-width: 50%;
}

.titulo{
    font-family: var(--fonte-titulo);
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 3.75rem;
 
}

.destaque{
    color: var(--roxo);
}

.texto{
    font-family: var(--fonte-texto);
    font-size: 1.25rem;
    color: var(--cinza);
    line-height: 36px;
    padding: 2rem 0;

}

.home-container > button{
    font-size: 16px;
}

@media screen and (max-width:1200px) {
    .home > img {
        display: none;
    }

    .home-container{
    text-align: center;
    }

    .home{
    padding: 5rem;

    }

   .home-container{
        max-width: 90%;
    }




}

@media screen and (max-width: 920px) {
    .titulo {
    font-size: 2rem;
    }

    
}