.metodologia{
    background-image: linear-gradient(to bottom,#FFFFFF, #E7EDF5);
    
}


.card-metodologia{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
 
}

.container-texto{
max-width: 50%;
    
}
.destaque-2{
    color: var(--verde);
}

.botao-secundario, .botao {

 
      
}

@media screen and (max-width:1300px) {

.card-metodologia{
    flex-direction: column;
    justify-items: center;
 }

.botao-secundario, .botao {
    display: inline-block;
  
}

.container-texto{
max-width: 70%;
text-align: center;
    
}

}



@media screen and (max-width:920px){

}