.container-projetos{
    text-align: center;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
}

.projetos-list{
    display: flex;
    gap: 3rem;
    overflow-x: hidden;
}

.projetos-list-item{
    list-style-type: none;
    padding: 2rem;
    border: 1px solid var(--azul);
    display: inline-block;
    border-radius: 16px;
    flex: 1 1 250px;

}
.projetos-list-item> h5{
    font-family: var(--fonte-texto);
    font-weight: 600;
    color: var(--azul-escuro);
    font-size: 20px;
    padding: 1rem 0;
}

.projetos-list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projetos-list-row > a{
    font-family: var(--fonte-texto);
    color: var(--roxo);
    text-decoration: none;
}

.projetos-list-row > span{
    font-family: var(--fonte-texto);
    font-weight: 500;
    color: var(--cinza);
    font-size: 14px;
    background-color: var(--azul-baby);
    padding: 0.5rem 1rem;
    border-radius: 16px;
}

.projetos > div >  button{
    padding: 1rem 3.5rem;

}

@media screen and (max-width:1200px) {
    .img-l{
        display: inline-block;
    }
}

@media screen and (max-width:920px) {
    .img-l{
        display: none;
    }
}